<div>
    <article class="landing-page-image-container">
        <article>
            Real<br >
            Estate<br >App
        </article>
        <article>
            For
            <br >
            everybody
        </article>
        <img src="assets/images/cropped_better_house.png"  alt="Home page house photo" style="width: 100%"  />
        
        
    </article>
    <div class="home-articles-container">
        <!-- {limitedHomes.map((h) => (
            <article key={h.id} class="home-article">
                <article>
                    <img class="home-article-image" src={h.photo_url} alt="Home" />
                </article>
                <article>
                    <h4>{h.title}</h4>

                    <p>
                        <GoLocation size={16} /> {h.city}
                    </p>
                    <p>$ {h.price}</p>
                </article>
            </article>
        ))} -->
    </div>
</div>